Options All -Indexes
RewriteEngine on

# Manejo de errores 403 y 404
ErrorDocument 403 /veterinaria/web/error403.html
ErrorDocument 404 /veterinaria/web/error404.html

# Bloquea el accesso a los directorios 
<IfModule mod_autoindex.c>
    Options All -Indexes
</IfModule>
